<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mmm.dao.InvitationMapper">
    <select id="findALLs" resultType="Invitation">
        select * from  `kaoshi02` limit ?,?;
    </select>
    <select id="finAll" resultType="Invitation">
        select * from  invitation ;
    </select>
</mapper>